/* Everything in CSS is a box (text, button, div...). The box is composed by the content, the padding, the border and the margin */
* { 
   /* Here we are saying that the box should occupy only the space of the content */
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.box-1 {    
/* I can add a padding to the content, adding background to the element (and, consequently, more space around it) */
    padding: 4em;
    background-color: #e72727;
    border: 0em solid #27AE60;
    margin: 0.5em;
    
/* the border goes around the padding */
    border: 0em solid #27AE60;
    
/* the margin is added to increase the space between two elements as it is outside the border. */
    margin: 0.5em;
}

.box-2 {
  
    padding: 4em;
    background-color: #03669f;
    border: 0 solid #27AE60;
    
 /* Do not forget the behaviour known as margin collapsing. When two elements have two different margins, they will be separated by the highest one.  */
    margin: 0.5em;

}


.box-3 {
    padding: 4em;
    background-color: #188418;
    border: 0em solid #27AE60;
    margin: 0.5em;    
}

.box-4 {
    padding: 4em;
    background-color: #ecec62;
    border: 0em solid #27AE60;
    margin: 0.5em;    
}